$color-backgroundCarrousel: #f9cb9c;
$color-backgroundIntroduccion: #f9cb9c;
$color-backgroundProductos: #ffe699;
$color-backgroungPie: #fae5cf;
$color_backgroundTablaEnvios: #f9cb9c;
$color-backgroundHeader: #EDE5D8;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
}


#header .grilla {
	display: grid;
	grid-template-areas: 
		"logo nav";
	grid-template-rows: 100%;
	grid-template-columns: 1fr 4fr;
	justify-content: space-between;
	align-content: center;
	width: 100%;
	max-height: 100%;
}

.navbar {
	margin-left: 15%;
	margin-right: 15%;
}


@media (max-widht: 576px) {
	div#carouselExampleInterval.carousel.slide.content {
		height: 3rem;
	}
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}


#header {
	height: 5rem;
	transition: all 0.5s;
	z-index: 997;
	transition: all 0.5s;
	padding: 5px 0;
	background: $color-backgroundHeader;
	box-shadow: 0 0 20px 10px rgba(127, 137, 161, 0.3);
	position: sticky;
	top: 0;
}

.bg-light {
    background-color: #EDE5D8 !important;
}

@media (max-width: 768px) {
	.col-sm {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-bottom: 15px;
		padding-top: 15px;
	} 
}


.grilla.logo {
	grid-area: logo;
	align-self: center;
	justify-content: start;
	max-height: 100%;
}

.logo img {
	max-height: 100%;
	border-radius: 5%;
}

.titulo {
	font-size: 2rem;
}

.parrafo{
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#imgLogo {
	animation-duration: 2s;
	animation-name: aparecer;
	max-height: 100%;
	width: auto;
	border-radius: 15%;
}

img {
	border-radius: 3%;
}

#servicios .card {
	background: #D48760;
	border-color: #D48760;
	border-radius: 10px;
	margin: 15px 15px;
	padding: 15px 15px;
	text-align: center;
	color: #fff;
	transition: 0.3s ease-in-out;
	height: 100%;
  }

.row {
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (max-widht: 576px) {
	.content {
		margin-left: 2%;
		margin-right: 2%;
	}
	.navbar {
		margin-left: none;
		margin-right: none;
	}
}


@media (max-width: 575.98px) {
	.content {
		margin-left: 7%;
		margin-right: 7%;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.content {
		margin-left: 7%;
		margin-right: 7%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.content {
		margin-left: 11%;
		margin-right: 11%;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

@media (min-width: 992px) {
	.content {
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

@media (max-width: 575.98px) {
	.navbar {
		margin-left: 7%;
		margin-right: 7%;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.navbar {
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.navbar {
		margin-left: 15%;
		margin-right: 15%;
	}
}

@media (min-width: 992px) {
	.navbar {
		margin-left: 15%;
		margin-right: 15%;
	}	
}

@keyframes aparecer {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.navbar-light .navbar-nav .nav-link {
    color: #d48760;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #d48760;
	font-weight: bold;
}


.botonMenu {
	margin-left: 5%;
	margin-right: 5%;
}

select {
    word-wrap: normal;
    display: block;
}

@media (max-width: 575.98px) {
	.mi-carousel-inner {
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 90%;
		height: auto;
		overflow: hidden;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.mi-carousel-inner {
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 90%;
		overflow: hidden;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.mi-carousel-inner {
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 80%;
		overflow: hidden;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.mi-carousel-inner {
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 70%;
		overflow: hidden;
	}
}

@media (min-width: 1200px) {
	.mi-carousel-inner {
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 50%;
		overflow: hidden;
	}
}

#centrar{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#miCarousel {
	color: $color-backgroundCarrousel;
	padding: 1%;
}

#introduccion-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (max-width: 575.98px) {
	#introduccion-flex {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#textoIntroduccion {
		padding-right: 0%;
	}
}
#productos {
	background-color: $color-backgroundProductos;
	padding: 1%;
}

#introduccion {
	background-color: $color-backgroundIntroduccion;
	padding: 1%;
}

#productos.col-sm {
	padding: 20%;
}


#pie {
	background-color: $color-backgroungPie;
	padding: 1%;
}


#pie #imgLogo {
	height: 40px;
	width: auto;
}

.imgCarrusel {
	width: 25%;
	height: 25%;
	display: block;
	margin: auto;
}

.btn-primary {
    color: #fff;
    background-color: #e09a5f;
    border-color: #e09a5f;
}

.imgIntroduccion {
	width: 400px;
	height: 400px;
}

.imgProductos {
	max-width: 100%;
	height: auto;
}

#datosContacto {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}



.icons {
	width: 32px;
	height: 32px;
	margin: 10px;
}


#datosContacto #ubicacion {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 1%;
}

#ubicacion p {
	margin-bottom: 0px;
}

#whatsapp p {
	margin-bottom: 0px;
}

#email p {
	margin-bottom: 0px;
}

#datosContacto #whatsapp {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#datosContacto #email {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#tablaEnvios {
	color: $color_backgroundTablaEnvios;
	display: inline-block;
}

#tabla-productos {
	display: inline-block;
	text-align: center;
}

#textoIntroduccion {
	padding-right: 5%;
}

#contacto {
	padding: 1%;
}


#datos-contacto {
	margin: 10px;
}

.form-fieldset {
	margin: 15px;
}

.metodosDePago, .metodosDePago ul{
	list-style-type: disc;
}

