$color-titulo: #aa4a30;
$color-parrafo: #d57149;
$color-backgroundCarrousel: #f9cb9c;
$color-backgroundIntroduccion: #f9cb9c;
$color-backgroundProductos: #ffe699;
$color-backgroungPie: #fae5cf;
$color_backgroundTablaEnvios: #f9cb9c;
$color-backgroundHeader: #EDE5D8;

html {
	font-family: 'Fira Sans', sans-serif;
}


#header .grilla {
	display: grid;
	grid-template-areas: 
		"logo nav";
	grid-template-rows: 100%;
	grid-template-columns: 1fr 4fr;
	justify-content: space-between;
	align-content: center;
	width: 100%;
	max-height: 100%;
}

.navbar {
	margin-left: 15%;
	margin-right: 15%;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}


#header {
	height: 100px;
	transition: all 0.5s;
	z-index: 997;
	transition: all 0.5s;
	padding: 20px 0;
	background: $color-backgroundHeader;
	box-shadow: 0 0 20px 10px rgba(127, 137, 161, 0.3);
	position: sticky;
	top: 0;
}

.bg-light {
    background-color: $color-backgroundHeader!important;
}

.grilla.logo {
	grid-area: logo;
	align-self: center;
	justify-content: start;
	max-height: 100%;
}

.logo img {
	max-height: 100%;
}

.titulo {
	color: $color-titulo;
	font-size: 20px;
	margin-left: 5px;
}

.parrafo{
	color: $color-parrafo;
	font-size: 16px;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#imgLogo {
	animation-duration: 2s;
	animation-name: aparecer;
	max-height: 100%;
	width: auto;
}

@media (max-widht: 800px) {
	.content {
		margin-left: 2%;
		margin-right: 2%;
	}
	.navbar {
		margin-left: none;
		margin-right: none;
	}
}

@keyframes aparecer {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.botonMenu {
	margin-left: 5%;
	margin-right: 5%;
	color: $color-parrafo;
}

/* button, input {
	overflow: visible;
	display: block;
	width: 100%;
} */

select {
    word-wrap: normal;
    display: block;
}

.content {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.mi-carousel-inner {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	overflow: hidden;
}

#centrar{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#miCarousel {
	color: $color-backgroundCarrousel;
	padding: 1%;
}

#introduccion-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#productos {
	background-color: $color-backgroundProductos;
	padding: 1%;
}

#introduccion {
	background-color: $color-backgroundIntroduccion;
	padding: 1%;
}

#productos.col-sm {
	padding: 20%;
}


#pie {
	background-color: $color-backgroungPie;
	padding: 1%;
}


#pie #imgLogo {
	height: 40px;
	width: auto;
}

.imgCarrusel {
	width: 25%;
	height: 25%;
	display: block;
	margin: auto;
}

.imgIntroduccion {
	width: 400px;
	height: 400px;
}

.imgProductos {
	width: 300px;
	height: 300px;
}

#datosContacto {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.icons {
	width: 32px;
	height: 32px;
	margin: 10px;
}


#datosContacto #ubicacion {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#ubicacion p {
	margin-bottom: 0px;
}

#whatsapp p {
	margin-bottom: 0px;
}

#email p {
	margin-bottom: 0px;
}

#datosContacto #whatsapp {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#datosContacto #email {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#tablaEnvios {
	color: $color_backgroundTablaEnvios;
	display: inline-block;
}

#tabla-productos {
	display: inline-block;
	text-align: center;
}

#contacto {
	padding: 1%;
}


#datos-contacto {
	margin: 10px;
}

.form-fieldset {
	margin: 15px;
}

.metodosDePago, .metodosDePago ul{
	color: $color-parrafo;
	list-style-type: disc;
}

